header {
  position: relative;
  height: 1.1rem;
}
header .media .media-left {
  padding-top: 0.1rem;
  padding-left: 0.2rem;
}
header .media .media-left img {
  width: 0.86rem;
  height: 0.86rem;
  border-radius: 0.86rem;
}
header .media .media-body {
  padding-top: 0.25rem;
}
header .media .media-body .id {
  padding-top: 0.12rem;
  font-weight: 400;
  font-size: 0.32rem;
  color: #333;
}
header .media-fr {
  position: absolute;
  right: 0.4rem;
  top: 0.35rem;
}
header .media-fr a {
  font-size: 0.32rem;
  color: #FF5069;
}
.pay-if {
  background-color: #f5f5f5;
  height: 0.9rem;
}
.pay-if span {
  padding-left: 0.2rem;
  line-height: 0.9rem;
  font-size: 0.3rem;
  color: #333;
}
section .media {
  margin-top: 0 ;
  position: relative;
  width: 100%;
  height: 1.2rem;
  border-bottom: 0.01rem solid #dfdfdf;
}
section .media .media-left {
  padding-left: 0.2rem;
  padding-right: 0.15rem;
  line-height: 1.2rem;
}
section .media .media-left img {
  display: inline-block;
  text-align: center;
  width: 0.5rem;
}
section .media .media-body h4 {
  position: relative;
  line-height: 1.2rem;
  font-weight: 400;
  font-size: 0.34rem;
  color: #333;
}
section .media .media-body h4 span {
  position: absolute;
  top: -0.0001rem;
  padding-left: 0.1rem;
  color: #ff5069;
  font-size: 0.26rem;
}
section .media .pay-right {
  position: absolute;
  right: 0.3rem;
  top: 0.35rem;
  width: 1rem;
  height: 0.5rem;
  background-color: #ff5069;
  border-radius: 0.25rem;
}
section .media .pay-right a {
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.28rem;
  display: inherit;
}
